server:
  port: 8080
  address: 0.0.0.0
spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/manage_education"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true